name: Build EXE

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86

      - name: Build
        shell: cmd
        run: cl /MT /O2 /EHsc /Fe:wiper.exe main.cpp psapi.lib advapi32.lib /link /MACHINE:X86

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: wiper
          path: wiper.exe
